p, h2, h3,h4{
 /*font-family: 'Amatica SC', cursive;*/
  color:#99710A;
  font-weight: bold;
}
#accueil, h1, h2{
  font-weight: 1000;
  color: #841C07;
}

header a, header button{
  text-decoration: none;
}
a, button{
  color:#841C07;
  text-decoration: underline;
}
footer a{
  color:#841C07;
  text-decoration: underline;
}
body{
  font-family: 'Alegreya Sans SC', sans-serif;
}
/*p{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}*/
#fond1{
  background-image: url(../images/accueil.jpg);
background-size: cover;
position: sticky;
}

#fond2{
  background-image: url(../images/competences.jpg);
  background-size: cover;
background-position: center;
}
.couleur{
  color: #99710A;
  font-weight: bold;
}
.couleur-1{
 background-color: rgba(255, 255, 255, 0.35);
}
.presentation-text{
  border-bottom: 2px solid #99710A ;
width: 50%;

}
.competences-text{
  border: 2px;
  border-style: dashed;
  border-color: #99710A;
  color:#99710A;
}

figure{
  overflow: hidden;
  position:relative;
  margin:0;
}

figure:hover .img-effect{
  transform: scale(1.25);
  transition: 1s;
  opacity:0.5;
}

figure a{
  display: block;
  overflow: hidden;
  background: linear-gradient(45deg, #FA5604, #841C07);;
}

figcaption{
  position: relative;
  /*bottom: 25px;
  left: 25px;*/
  color: blue;
  opacity: 0;
  transition: 1s;
  transform: translateX(50px) scale(2);
}

figure:hover figcaption{
  opacity: 1;
  transform: translateY(0);
}

#sites0 img{
  width: 100%;
  height: auto;
}
#design img{
  width: 100%;
  height: auto;
}
